.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.input-file + label {
  font-size: 1.25em;
  font-weight: 700;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid grey;
  background-color: #000;
  display: inline-block;
  cursor: pointer;
  width: auto;
  margin-right: 20px;
}

.input-file:focus + label,
.input-file + label:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 400px) {
  .input-file + label {
    font-size: 0.75rem;
    padding: 0.5rem 0.5rem;
  }
}
